<section>
    <div>
    <img src="assets/symptoms.jpg" alt="Symptoms Image">

    </div>
    <div class="block">
    <div>
        <h2 class="red">What are the symptoms of COVID-19?</h2>
        <h1>Symptoms of Coronavirus</h1>
    </div>
    <div>
        <p>The most common symptoms of COVID-19 are fever, tiredness, and dry cough. Some patients may have aches and pains, nasal congestion, runny nose, sore throat or diarrhea. 
            These symptoms are usually mild and begin gradually. Also the symptoms may appear 2-14 days after exposure.</p>

        <p><span class="red">High Fever</span> – this means you feel hot to touch on your chest or back (you do not need to measure your temperature). 
            It is a common sign and also may appear in 2-10 days if you affected.</p>
        <p><span class="red">Continuous cough</span> – this means coughing a lot for more than an hour, 
            or 3 or more coughing episodes in 24 hours (if you usually have a cough, it may be worse than usual).</p>
        <p><span class="red">Difficulty breathing</span> – Around 1 out of every 6 people
             who gets COVID-19 becomes seriously ill and develops difficulty breathing or shortness of breath.</p>
        
    </div>
   
        
    </div>
    <div>
        <p><strong class="blue">Stay at home and call your doctor :</strong> 
            If you think you have been exposed to COVID-19 and develop a fever and any symptoms,
             such as cough or difficulty breathing, call your healthcare provider as soon as possible for medical advice.</p>
       
        <a class="help" (click)="openDialog()"><button>Helpline</button></a>
    
    </div>
    
    
    
    
    </section>
    
