

.navbar{
    position: fixed;
    top: 0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #000;
    padding-top:0.2%;
    padding-bottom:0.2%;
    border-bottom: 1px solid rgba(190,190,190,.25);

}
.brand-title {
    color: #04b18e;
    font-size:2.6vh;
    font-weight: 500;
    margin: 1rem;
    margin-left:10%;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li{
    list-style: none;
    padding: 1rem;
}
.navbar-links li a {
    text-decoration: none;
    color: rgb(129, 127, 127);
    font-weight: 500;
    font-size: 1.5vh;
    line-height: 2.4rem;
    display: block;
    text-align: center;
}
.navbar-links li a:hover{
    color:#000;
  border-bottom: #04b18e solid 2px;


}

.router-link-active {

color: #04b18e !important;
border-bottom: #04b18e solid 2px;
}

button{
    color: #000;
    margin: 1rem;
    padding: 0.6rem 2rem;
    background-color: rgb(237, 250, 58, 1);
    border: 1px solid rgba(237, 250, 58, 1);
}
button:hover{
    background-color: rgba(237, 250, 58,0.8);
    border: 1px solid rgba(9, 95, 95, 0.5);
}

/* Navbar responsive CSS */
.toggle-button {
    position:absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 15px;
}
.toggle-button .bar {
height: 3px;
width: 100%;
background-color: #000;
border-radius: 1rem;
}
@media (max-width: 600px)
{
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .help{
        margin: 0 auto;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem;


    }
    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }
    .navbar-links li {
        text-align: center;
        padding: 0;
    }
    .navbar-links li a {
        padding: 0.5rem 1rem;
        font-size: 1rem;

    }
    .navbar-links.active{
        display: flex;
    }
    button{
        font-size: 1rem;
    }
    }