    <nav class="navbar">
      <div class="brand-title">  <a href="/"> Covid App </a></div>
        <a  class="toggle-button" (click)="toggleNav();">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links" [class.active]="active">
            <ul>
                <li><a routerLink="/home" routerLinkActive="router-link-active" (click)="toggleNav();">Home</a></li>
                <li><a routerLink="/about" routerLinkActive="router-link-active" (click)="toggleNav();">About Corona</a></li>
                <li><a routerLink="/symptoms" routerLinkActive="router-link-active" (click)="toggleNav();">Symptoms</a></li>
                <li><a routerLink="/spread" routerLinkActive="router-link-active" (click)="toggleNav();">Spread</a></li>
                <li><a routerLink="/protect" routerLinkActive="router-link-active" (click)="toggleNav();">Prevention</a></li>
                <li><a routerLink="/covidash" routerLinkActive="router-link-active" (click)="toggleNav();">Covid19 Dashboard</a></li>
                <a class="help"><button (click)="openDialog()">Helpline</button></a>
            </ul>
        </div>
        
    </nav>



