<header id="navbar"  #stickyMenu>
    <li class="logo">COVID19 APP</li>
    <nav>
        <ul class="nav_links">
    <li><a routerLink="/home">Home</a></li>
    <li><a href="\home">About Corona</a></li>
    <li><a href="\home">Symptoms</a></li>
    <li><a href="\home">Spread</a></li>
    <li><a routerLink="/protect">Prevention</a></li>
    <li><a href="#">Do & Don't</a></li>
    <li><a href="\home">FAQ</a></li>
        </ul>
    </nav>
<a class="help" href="#"><button>Helpline</button></a>
</header>

