

li, a, button {

font-weight: 500;
font-size: 0.9375rem;
color: black;
text-decoration: none;
list-style: none; /* Remove bullets */
}
.sticky {
    background-color: aquamarine;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    transition: all 0.3s ease 0.1s;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
    /* background-color: aquamarine; */
    list-style-type: none; /* Remove bullets */
    padding: 10px 10%;
    background-size: cover;
   
    
    }
.logo{
    cursor: pointer;
    font-weight: Bold;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
color: #0088a9;
}
.router-link-active{
    color: #0088a9;  
    font-weight: bold; 
}
button{
    padding: 9px 25px;
    background-color: rgb(237, 250, 58, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border: 1px solid rgba(237, 250, 58, 1);
}
button:hover{
    background-color: rgba(237, 250, 58,0.8);  
    border: 1px solid rgba(9, 95, 95, 0.5);
}