section{
padding: 5rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  text-align: center;
}
section > * {
    margin: 0.5rem;
    line-height: 1.6; 
    padding: 2rem;
    /* border: 1px black solid; */
    /* background-color:rgb(229, 217, 243); */
}
section > *:nth-child(2){
    max-width: 50%;
}

.block{
    
    text-align: left;
    padding: 2rem;
}

.block > h1,h2{
    font-size: 1.5rem;
}
.block *{
margin-top: 1rem;
}
.linksblock {
display: grid;
grid-template-columns: 1fr 1fr;
grid-auto-rows: auto;
}



section > div:nth-child(3){
grid-column: span 2;
}
button{
    padding: 1rem 2rem;
    font-weight: bold;
    background-color: rgba(4, 178, 217, 1);
    color: white;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.8s ease 0s;
}
button:hover{
    background-color: rgba(4, 116, 141, 1);
    
}
img {
    background-color: #fff;
    max-width:60%;
    height: auto;
    vertical-align: middle;
    border-style: none;

    margin: 1rem;
}
