<section>
    <div>
    <img src="assets/covid-virus.jpg" alt="Handwash Image">

    </div>
    <div class="block">
    <div>
        <h2 class="red">About the Disease</h2>
        <h1>Coronavirus (COVID-19)</h1>
    </div>
    <div>
        <p><strong>COVID-19 is a new illness that can affect your lungs and airways. 
            It's caused by a virus called coronavirus. It was discovered in December 2019 in Wuhan, Hubei, China.</strong></p>

        <p>Common signs of infection include respiratory symptoms, fever, cough, shortness of breath and breathing difficulties. 
            In more severe cases, infection can cause pneumonia, severe acute respiratory syndrome, kidney failure and even death.</p>
        <p>Standard recommendations to prevent infection spread include regular hand washing, covering mouth and nose when coughing and sneezing, thoroughly cooking meat and eggs. 
            Avoid close contact with anyone showing symptoms of respiratory illness such as coughing and sneezing.</p>
        
    </div>
    <div >
        <h2> What you need to know</h2>
        <div class="linksblock">
            <a routerLink="/spread">How coronavirus is spread &#10140;</a>
            <a routerLink="/symptoms">Symptoms of coronavirus &#10140;</a>
            <a routerLink="/protect"  >How to Prevent & Protect &#10140;</a>
            <a routerLink="/covidash" >Covid19 Dashboard &#10140;</a>
        </div>
      
        
    </div>
        
    </div>
    
    
    
    </section>
    