<section>
    <h1>Protect yourself</h1>
    <p>The best thing you can do now is plan for how you can adapt your daily routine. 
        Take few steps to protect yourself as Clean your hands often, Avoid close contact, Cover coughs and sneezes, 
        clean daily used surfaces etc. The best way to prevent illness is to avoid being exposed to this virus.</p>
    <div class="block">
        <div>
            <img src="assets/handwash.png" alt="Handwash Image">
            <span> 
                <h2>Wash Your Hands Frequently</h2>
                <p>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water for at least 20 seconds.</p>
            </span>
            
        </div>
    <div>
        <img src="assets/handwash.png" alt="Handwash Image">
        <span> 
            <h2>Wash Your Hands Frequently</h2>
                <p>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water for at least 20 seconds.</p>
            </span>
        
    </div>
    <div>
        <img src="assets/handwash.png" alt="Handwash Image">
        <span> 
            <h2>Wash Your Hands Frequently</h2>
            <p>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water for at least 20 seconds.</p>
        </span>
        
    </div>
    <div>
        <img src="assets/handwash.png" alt="Handwash Image">
        <span> 
            <h2>Wash Your Hands Frequently</h2>
                <p>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water for at least 20 seconds.</p>
            </span>
        
    </div>
    <div>
        <img src="assets/handwash.png" alt="Handwash Image">
        <span> 
            <h2>Wash Your Hands Frequently</h2>
            <p>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water for at least 20 seconds.</p>
        </span>
        
    </div>
    <div>
        <img src="assets/handwash.png" alt="Handwash Image">
        <span> 
            <h2>Wash Your Hands Frequently</h2>
                <p>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water for at least 20 seconds.</p>
            </span>
        
    </div>
        
    </div>
    
    
    
    </section>
    