<section>
    <div class="topimage"><img src="assets/covid-protect.jpg" alt=""></div>
    <h1>Protect Yourself & Others</h1>
    <p>The best thing you can do now is plan for how you can adapt your daily routine. 
        Take few steps to protect yourself as Clean your hands often, Avoid close contact, Cover coughs and sneezes, 
        clean daily used surfaces etc. The best way to prevent illness is to avoid being exposed to this virus.</p>
    <div class="block">
        <div>
            <img src="assets/prevent1.jpg" alt="Handwash Image">
            <span> 
                <h2>Wash Your Hands Frequently</h2>
                <p>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</p>
            </span>
            
        </div>
    <div>
        <img src="assets/prevent2.jpg" alt="Handwash Image">
        <span> 
            <h2>Clean & Disinfect</h2>
                <p>Clean high touch surfaces daily. This includes tables, 
                    doorknobs, light switches, countertops, handles,
                     desks, phones, keyboards, toilets, faucets, and sinks.</p>
            </span>
        
    </div>
    <div>
        <img src="assets/prevent3.jpg" alt="Handwash Image">
        <span> 
            <h2>Always Wear Mask</h2>
            <p>Everyone 2 years and older should wear masks in public. 
                Wear your mask over your nose and mouth and secure it under your chin.</p>
        </span>
        
    </div>
    <div>
        <img src="assets/prevent4.jpg" alt="Handwash Image">
        <span> 
            <h2>Maintain Distance From Others</h2>
                <p>Put 6 feet of distance between yourself and people who don’t 
                    live in your household.</p>
                  
            </span>
        
    </div>
    <div>
        <img src="assets/prevent5.jpg" alt="Handwash Image">
        <span> 
            <h2>Avoid Crowds</h2>
            <p>Avoid indoor spaces that do not offer fresh air from the outdoors as much as possible
                 like Restaurants, Bars, Fitness Centers, Movie Theaters, etc.</p>
        </span>
        
    </div>
    <div>
        <img src="assets/prevent6.jpg" alt="Handwash Image">
        <span> 
            <h2>Stay Home</h2>
                <p>Stay home and do not go out until absolutely necessary. Work from home when possible. Eat Healthy, Workout and practice a Hobby.</p>
            </span>
        
    </div>
        
    </div>
    
    
    
    </section>
    