section{
    padding: 5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}
section > * {
    margin: 0.5rem;
    line-height: 1.6; 
    /* border: 1px black solid; */
     /* background-color:rgb(229, 217, 243); */
}
section > *:nth-child(1) /*Future Note: As the first element will be the header*/
{
    margin-top: 1rem;
}
section > *:nth-child(1) > h1 
{
    font-size: 2.5rem;
}
section > *:nth-child(2) /*Future Note: As the second element will be the descriptive text*/
{
   max-width: 80%;
   margin: 0 auto;
   
}
.mobile_view{
    display: none;
}

    /* Media Queries for Mobile */
    @media (max-width: 600px){
        img {
            max-width:80%;  
        }
        section{
            margin: 0;
            max-width: 100%;
            margin-top:15%;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          
        }
        .default_view{
            display:none;
        }
        .mobile_view{
            display: block;
            background:aquamarine;
            
            padding: 0;
        }
        
        section > * {
           margin: 0;
            padding: 1rem;
            /* border: 1px black solid; */
            /* background-color:rgb(229, 217, 243); */
        }
        
        p{
            text-align: justify;
        }
        .linksblock {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
            
            }
       
        
        }
