<section>
   
    
        <h1>Covid19 Dashboard</h1>
        <h1>Live Statistical Data on COVID19</h1>
       <small class="mt grey"><i>* Last updated: {{this.lastUpdatedDate}} India/Delhi</i></small>
<!-- below view for smaller screens-->
 <div class="mobile_view" *ngIf = "this.showStats">
    <h2>Active Cases</h2>
       <ngx-charts-bar-horizontal 
       [view] = [500,100]
       [scheme]="colorSchemeActive"
       [results]="activeArray"
       [xAxisLabel]="'States'"
       [legendTitle]="'States'"
       [yAxisLabel]="'Active Cases'"
       [legend]="false"
       [showXAxisLabel]="true"
       [showYAxisLabel]="true"
       [xAxis]="true"
       [yAxis]="true"
       [gradient]="false">
   </ngx-charts-bar-horizontal>
</div>

<div class="mobile_view" *ngIf = "this.showStats">
   <h2>Confirmed Cases</h2>
      <ngx-charts-bar-horizontal
      [scheme]="colorSchemeConfirmed"
      [results]="confirmedArray"
      [xAxisLabel]="'States'"
      [legendTitle]="'States'"
      [yAxisLabel]="'Confirmed Cases'"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [gradient]="false">
  </ngx-charts-bar-horizontal>
</div>

<div class="mobile_view" *ngIf = "this.showStats">
   <h2>Recovered Cases</h2>
      <ngx-charts-bar-horizontal 
      [scheme]="colorSchemeRecovered"
      [results]="recoveredArray"
      [xAxisLabel]="'States'"
      [legendTitle]="'States'"
      [yAxisLabel]="'Recovered Cases'"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [gradient]="false">
  </ngx-charts-bar-horizontal>
</div>

<div class="mobile_view" *ngIf = "this.showStats">
   <h2>Deaths</h2>
      <ngx-charts-bar-horizontal
      [scheme]="colorSchemeDeaths"
      [results]="deathsArray"
      [xAxisLabel]="'States'"
      [legendTitle]="'States'"
      [yAxisLabel]="'Deaths'"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [gradient]="false">
  </ngx-charts-bar-horizontal>
</div>

<!-- Below view for default screens -->
<!-- <div class="default_view"> -->
<div class="default_view" *ngIf = "this.showStats">
    <h2>Active Cases</h2>
       <ngx-charts-bar-vertical 
       [scheme]="colorSchemeActive"
       [results]="activeArray"
       [xAxisLabel]="'States'"
       [legendTitle]="'States'"
       [yAxisLabel]="'Active Cases'"
       [legend]="false"
       [showXAxisLabel]="true"
       [showYAxisLabel]="true"
       [xAxis]="true"
       [yAxis]="true"
       [gradient]="false">
   </ngx-charts-bar-vertical>
   
</div>

<div class="default_view" *ngIf = "this.showStats">
    <h2>Confirmed Cases</h2>
       <ngx-charts-bar-vertical 
       [scheme]="colorSchemeConfirmed"
       [results]="confirmedArray"
       [xAxisLabel]="'States'"
       [legendTitle]="'States'"
       [yAxisLabel]="'Confirmed Cases'"
       [legend]="false"
       [showXAxisLabel]="true"
       [showYAxisLabel]="true"
       [xAxis]="true"
       [yAxis]="true"
       [gradient]="false">
   </ngx-charts-bar-vertical>
</div>

<div class="default_view" *ngIf = "this.showStats">
    <h2>Recovered Cases</h2>
       <ngx-charts-bar-vertical 
       [scheme]="colorSchemeRecovered"
       [results]="recoveredArray"
       [xAxisLabel]="'States'"
       [legendTitle]="'States'"
       [yAxisLabel]="'Recovered Cases'"
       [legend]="false"
       [showXAxisLabel]="true"
       [showYAxisLabel]="true"
       [xAxis]="true"
       [yAxis]="true"
       [gradient]="false">
   </ngx-charts-bar-vertical>
</div>

<div class="default_view" *ngIf = "this.showStats">
    <h2>Deaths</h2>
       <ngx-charts-bar-vertical 
       [scheme]="colorSchemeDeaths"
       [results]="deathsArray"
       [xAxisLabel]="'States'"
       [legendTitle]="'States'"
       [yAxisLabel]="'Deaths'"
       [legend]="false"
       [showXAxisLabel]="true"
       [showYAxisLabel]="true"
       [xAxis]="true"
       [yAxis]="true"
       [gradient]="false">
   </ngx-charts-bar-vertical>
</div>

<div *ngIf = "this.showStats">
    <h2>Covid Summary</h2>
    <!-- Using ag-grid to display API Data -->
    <input type="text" (keyup)="quickSearch()" [(ngModel)] = "searchValue" placeholder="quick filter..."/>
    <ag-grid-angular 
    style="height: 500px; background-color: aquamarine;"
    class="ag-theme-alpine"
    [rowData]="this.stateArray2"
    [columnDefs]="this.columnDef"
    [allowFiltering]='true'
    [animateRows]= "true"
    (gridReady) = "onGridReady($event)"
   >
</ag-grid-angular>
</div>

    </section>
    