<section>
    <h1><b>Helpline for <span class="blue">Novel Coronavirus</span></b></h1>
    <p>For any emergencies related to COVID19, call the Emergency Helpline number below.</p>
    <p class="red">Emergency Central COVID Helpline (India)</p>
    <div class="helpline-number">+91-11-23978046</div>
    <div class="mt">
        <p class="blue">If you have chest pain, shortness of breath, dizziness, a severe headache or any other potentialy life-threatening problems, go to the nearest hostpital or call 112 (India).</p>
        </div>
</section>