/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    }
p{
    font-size: 1rem;
}
a{
    font-size: 1rem;
    font-weight: 500;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
section a{
    text-decoration: none;
    color: #04b18e;
    
    /* font-weight: bold; */
}

section a:hover{
    color: rgb(3, 84, 102);
}
button{
    font-weight: bold;
    background-color: #05a888;
    padding: 1rem 2rem;
    color: white;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.8s ease 0s;
}
button:hover{
    background-color: #048168;
    
}



.grey{
    color:rgba(128, 128, 128, 0.89);
}
.blue{
    color: #007bff;;
}
.red{
    color: #f86168;
}
.green{
    color: #3dca93;
}
.ml{
    margin-left: 2rem;
}
.mt{
    margin-top: 1rem;
}
.break {
    flex-basis: 100%;
    height: 0;
  }
