<section>
<div class="block">

    <h1>Prevent the Spread</h1>
    <h1>Stay Home, Stay Safe</h1>
    <p> The best way to prevent and slow down transmission 
        is be well informed about the COVID-19 virus. 
        Protect yourself and others from infection by washing your hands at-least
         20sec and not touching your face.</p>
         <div class="block-innerspan">
            <div><a routerLink="/protect"><button>How to stay SAFE ?</button></a></div>
            <div><a routerLink="/about" >About COVID-19 &#10140;</a></div>
         </div>
         
</div>

<div class="home_img"> 
<img src="assets/covid.png" alt="Covid Family Image">
</div>

<div class="stats">
    <h1>India Statistics</h1>
  
    <div>
    <p>10,618,798</p>
    <p class="grey">Confirmed</p>
    </div>
    <div>
    <p>3,360,170</p>
    <p class="blue">Active</p>
    </div>
    <div>
    <p>3,360,170</p>
    <p class="red">Deaths</p>
    </div>
    <div>
    <p>3,360,170</p>
    <p class="green" >Recovered</p>
    </div>
    <a routerLink="/covidash"><button>Launch Dashboard</button></a>
    <div class="break"></div>
    <small class="mt grey"><i>* Last updated: May 14, 2021, 12:24 PM India/Delhi</i></small>

  
</div>


</section>
