<section>
    <div>
        <h2 class="red">How coronavirus is spread</h2>
        <h1>Transmission of COVID-19</h1>
    </div>
    <p>The new coronavirus is a respiratory virus which spreads primarily through droplets generated when an infected person
         coughs or sneezes, or through droplets of saliva or discharge from the nose. </p>
    <div class="block">
     <div>
            <img src="assets/spread1.jpg" alt="">
            <span> 
                <h2>Person-to-person spread as close contact with infected</h2>
                <p>The coronavirus is thought to spread mainly from person to person.
                     This can happen between people who are in close contact with one another.</p>
            </span>
            
    </div>
    <div>
        <img src="assets/spread2.jpg" alt="">
        <span> 
            <h2>Touching or contact with infected surfaces or objects</h2>
                <p>A person can get COVID-19 by 
                    touching a surface or object that has the virus on it and then touching their own mouth, nose, or possibly their eyes.</p>
            </span>
        
    </div>
    <div>
        <img src="assets/spread3.jpg" alt="">
        <span> 
            <h2>Droplets that from infected person coughs or sneezes</h2>
            <p>The coronavirus is thought to spread mainly from person to person. 
                This can happen between people who are in close contact with one another.</p>
        </span>
        
    </div>
    
        
    </div>
    <div>
        <a routerLink="/symptoms"><button>Symptoms of Covid19 &#10140;</button></a>
    </div>
    
    
    
    </section>
    